body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#lobby, #game {
    text-align: center;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    padding: 20px;
    background-color: #fff;
}

#game {
    display: none;
}

input, button {
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

button {
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
